.icon_profile {
    border-radius: 50%;
    overflow: hidden;
    width: 200px;
    height: 200px;
    margin-left: 50%;
    transform: translateX(-100px);
}

.text {
    text-align: center;
    margin-top: 10px;
    text-decoration: underline;
    
}